<div class="welcome-component-container fadeInUp-animation">
    <div class="details-section">
        <span>WELCOME</span>
        <h1>BEST LEARNING OPPORTUNITIES</h1>
        <p>Our goal is to make online education work for everyone</p>
        <div>
            <button class="join-btn">Join Us</button>
            <button class="learn-more-btn">Learn More</button>
        </div>
    </div>
        <img src="../../../assets/images/image-welcome-person.png" alt="Person Image" class="image-person-main">
</div>