<div class="footer">
    <ul>
        <li>Company Info</li>
        <li>About Us</li>
        <li>Career</li>
        <li>We Are Hiring</li>
        <li>Blog</li>
    </ul>
    <ul>
        <li>Legal</li>
        <li>About Us</li>
        <li>Career</li>
        <li>We Are Hiring</li>
        <li>Blog</li>
    </ul>
    <ul>
        <li>Features</li>
        <li>Business Marketing</li>
        <li>User Analytic</li>
        <li>Live Chat</li>
        <li>Unlimited Support</li>
    </ul>
    <ul>
        <li>IOS and Android</li>
        <li>Watch a Demo</li>
        <li>Customers</li>
        <li>API</li>
    </ul>
    <ul>
        <li>Get In Touch</li>
        <li>
            <img src="../../../assets/icons/icon-phone.png" alt="">
            <p>(480) 555-0103</p>
        </li>
        <li>
            <img src="../../../assets/icons/icon-location.png" alt="">
            <p>4517 Washington Ave. Manchester, Kentucky 39495</p>
        </li>
        <li>
            <img src="../../../assets/icons/icon-email.png" alt="">
            <p>debra.holt&#64;google.com</p>
        </li>
    </ul>
</div>