<div class="learning-packages-container">
    <div class="learn-more-section">
        <h1>Approdable Packages</h1>
        <p>Problems trying to resolve the conflict between
            the two major realms of Classical physics:
            Newtonian mechanics</p>
        <button><span>Learn More</span> <img src="../../../assets/icons/icon arrow-next.png" alt="" /></button>
    </div>
    <div class="facts-section">
        <div class="item">
            <div>
                <img src="../../../assets/icons/icon cool-icon-n2.svg" alt="">
            </div>
            <p>The gradual accumulation of information about</p>
        </div>
        <div class="item">
            <div>
                <img src="../../../assets/icons/icon cool-icon-n5.svg" alt="">
            </div>
            <p>The gradual accumulation of information about</p>
        </div>
    </div>
</div>