$colors-bg-primary: #fff2f3;
$colors-bg-secondary: #f9f9f9;

$colors-text-primary: #252b42;
$colors-text-secondary: #737373;
$colors-text-tertiary: #000;

$colors-white: #fff;
$colors-link-primary: #96bb7c;
$colors-link-hover: #72965a;

$colors-error: #ff0000;